*.log
wireTap*.txt
.svn
/target
/tmp
#src/main/resources/templates
src/main/resources/templates/ttt
src/main/resources/templates/testfolder/
src/main/resources/files/*
.gradle
*.swp
build/*
*.bak*
old
