#set ( $prefix = "template" )
#set ( $suffix = ".txt.vm" )
#set ( $map = {} )
#set ( $uriParams = "" )
#if ( ${headers.systemType} )
  #set ( $dummy = ${map.put('systemType', ${headers.systemType})} )
#end
#if ( ${headers.action} )
#if (( ${headers.templateType} == "batchFile" || ${headers.templateType} == "sshCommands" ) && ( ${headers.action} == "Add User" || ${headers.action} == "Delete User" ))
  #set ( $dummy = ${map.put('action', 'OTHER')} )
#else
  #set ( $dummy = ${map.put('action', ${headers.action})} )
#end
#end
#if ( ${headers.templateType} )
  #set ( $dummy = ${map.put('templateType', ${headers.templateType.replaceAll(' ','_')})} )
#end
#if ( ${headers.systemType.startsWith("OSV")} && ${headers.templateType} == "config" )
#if ( ${headers.action} == "Add Site" || ${headers.action} == "Add User" )
#if ( ${headers.GatewayIP} && ${headers.GatewayIP} != "0.0.0.0" )
  #set ( $dummy = ${map.put('routingType', 'localGW')} )
#end
#end
#if ( ${headers.CC} && ${headers.action} == "Add Site" )
  #set ( $dummy = ${map.put('CC', ${headers.CC})} )
#end
#end## "OSV"
$prefix##
#foreach( $key in $map.keySet() )
_$key=$map.get($key).replaceAll(' ','_')## ##$in.setHeader("filter[${key}]", $map[${key}])##
#set ( $uriParams = "${uriParams}&$key=$map.get($key)" )##
##$in.setHeader("filter[${key}]", $map.get($key).replaceAll(' ','%20').replaceAll('\r','').replaceAll('\n',''))
##${headers.velocityUri}?bridgeEndpoint=true&filter[action]=Add Customer"
##$in.setHeader("recipientList", "${headers.velocityUri}?bridgeEndpoint=true&filter[action]=Add Customer")
#end
$suffix##
$in.setHeader("uriParams", ${$uriParams} )##